# не обрабатывать файлы, имя которых заканчивается на .a
*.a
# игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
/TODO
# игнорировать все файлы в каталоге build/
build/
node_modules/
